<head>
  <!--<link rel="stylesheet" href="/inicio.component.css">-->
</head>

<body>

  <div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/banner1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/banner2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/banner3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="nosotros">
    <div class="nosotros1">
      <h3>¿Quienes somos?</h3>
      <img src="/assets/quienes-somos.jpg" alt="Quienes somos">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia doloribus sapiente reprehenderit velit.
        Maxime aut cum facilis quas doloribus itaque ab dolorem provident doloremque. Porro repellat laudantium quisquam
        placeat.</p>
    </div>
    <div class="nosotros2">
      <h3>Mision</h3>
      <img src="/assets/mision.jpg" alt="Mision">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia doloribus sapiente reprehenderit velit.
        Maxime aut cum facilis quas doloribus itaque ab dolorem provident doloremque. Porro repellat laudantium quisquam
        placeat.</p>
    </div>
    <div class="nosotros3">
      <h3>Vision</h3>
      <img src="/assets/vision.jpg" alt="Vision">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia doloribus sapiente reprehenderit velit.
        Maxime aut cum facilis quas doloribus itaque ab dolorem provident doloremque. Porro repellat laudantium quisquam
        placeat.</p>
    </div>
  </div>

  <div class="noticias">
    <h3>Noticias</h3>
    <img src="/assets/noticias.jpg" alt="Noticias">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nemo quaerat aut numquam saepe esse debitis unde
      ducimus, soluta alias culpa minima possimus iste tenetur dicta atque? Modi, delectus fugiat! Lorem ipsum, dolor
      sit amet consectetur adipisicing elit. Quaerat quam incidunt soluta iusto, consequuntur est fugit vel magnam
      assumenda. Qui quaerat molestiae omnis dolores voluptates incidunt quod explicabo ipsam veniam. Lorem ipsum dolor,
      sit amet consectetur adipisicing elit. Quidem porro id accusamus ullam ipsa non voluptate magni amet molestiae
      earum alias sapiente, dolor, fugit dolorum et unde iure, dolorem debitis. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Iusto eligendi assumenda similique, accusamus nesciunt non eos voluptatibus quidem minima
      provident odio iste aut, labore saepe possimus exercitationem magni, recusandae in? Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum odio provident, id porro rem necessitatibus tenetur. Ex, neque ipsam porro
      sequi facilis vero harum error eaque provident tempora sapiente odio. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Quos, quis corporis culpa nihil delectus asperiores officiis dolor debitis ipsum ipsam porro
      libero incidunt neque atque. Voluptate in labore magnam non! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Aliquam at repudiandae eveniet, reprehenderit voluptates eligendi voluptate tenetur minima quasi id quod,
      nesciunt eaque quaerat praesentium doloribus, odio saepe iste quidem? Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Reiciendis aut recusandae nemo porro perspiciatis, nulla facilis vitae tenetur magnam,
      consequatur mollitia, vero provident commodi aliquid non quis ratione placeat sint?</p>
  </div>
</body>