*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

.heading-content {
    position: absolute;
    top: 35%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5 {
    font-size: 4em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;   
}

.heading-content h1 {
    font-size: 4em;
    font-weight: bolder;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.banner img{
	display:block;
	margin:auto;
	width: 95%;
	height: 95%;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(53, 51, 51);
}
.nosotros {
	background-color: aqua;	
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
}
.nosotros h3{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	color: rgb(0, 24, 59);
	text-align: center;
}
.nosotros1{
	width: 28%;
	margin: 2%;
	display:block;
	float: left;
}
.nosotros1 img{
	width: 85%;
	margin: 10px;
	border-radius: 4px;
}
.nosotros2{
	width: 28%;
	margin: 2%;
	display:block;
	float: left;
}
.nosotros2 img{
	width: 85%;
	margin: 10px;
	border-radius: 4px;
}
.nosotros3{
	width: 28%;
	margin: 2%;
	display:block;
	float: left;	
}
.nosotros3 img{
	width: 85%;
	margin: 10px;
	border-radius: 5px;
}
.noticias{
	width: 95%;
	display: block;
	margin: auto;	
}
.noticias img{
	width: 50%;
	float: left;
	margin-right: 2%;
	margin-top: 2%;
}
.noticias p{
	margin: 2%;
}
