<head>
  <link rel="stylesheet" href="/frontend/src/app/inicio/inicio.component.css">
</head>
<body>
  <header>
    <h1>
      {{ title }} 
    </h1>
    <!--<img width="300" alt="Logo Proyecto" src="/assets/LogoBichotas.png">-->
  </header>
  <div>
    <nav class="menu">
      <ul>
        <li><a routerLink="/Inicio">Inicio</a></li>
        <li><a routerLink="/Carrera">Carreras</a></li>
        <li><a routerLink="/Carrera">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="banner">
    <img alt="Img banner" src="/assets/banner1.jpg">
  </div>
  <div class="nosotros1">
    <img src="/assets/quienes-somos.jpg" alt="Quienes somos">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia doloribus sapiente reprehenderit velit. Maxime aut cum facilis quas doloribus itaque ab dolorem provident doloremque. Porro repellat laudantium quisquam placeat.</p>
  </div>
  <div class="nosotros2">
    <img src="/assets/mision.jpg" alt="Mision">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia doloribus sapiente reprehenderit velit. Maxime aut cum facilis quas doloribus itaque ab dolorem provident doloremque. Porro repellat laudantium quisquam placeat.</p>
  </div>
  <div class="nosotros3">
    <img src="/assets/vision.jpg" alt="Vision">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe mollitia doloribus sapiente reprehenderit velit. Maxime aut cum facilis quas doloribus itaque ab dolorem provident doloremque. Porro repellat laudantium quisquam placeat.</p>
  </div>
  <div class="noticias">
    <img src="/assets/noticias.jpg" alt="Noticias">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nemo quaerat aut numquam saepe esse debitis unde ducimus, soluta alias culpa minima possimus iste tenetur dicta atque? Modi, delectus fugiat!</p>
  </div>
</body>
