*{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
.titulo{
	font-family: 'Franklin Gothic', sans-serif;
	font-size: 50px;
	margin: 1% 2%;
}
header{
	width: 100%;
	background: rgb(202, 202, 202);
	overflow: hidden;
	z-index: 100;
	margin-bottom: 1%;
}
nav{
    float: right;
	margin-right: 2%;
	margin-bottom: 4px;
}
nav ul li{
    list-style: none;
    margin-left: 25px;
    float: left;
    padding: 7px 5px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
    color: rgb(0, 24, 59);
    font-weight: bold;
}
li:hover {
	background-color: #fff;
	border-radius: 4px;
}

.banner img{
	display:block;
	margin:auto;
	width: 95%;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgb(53, 51, 51);
}
.nosotros {
	background-color: aqua;	
	display: block;
	text-align: center;
	margin: auto;
	width: 100%;
}
.nosotros h3{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	color: rgb(0, 24, 59);
	text-align: center;
}
.nosotros1{
	width: 28%;
	margin: 2%;
	display:block;
	float: left;
}
.nosotros1 img{
	width: 85%;
	margin: 10px;
	border-radius: 4px;
}
.nosotros2{
	width: 28%;
	margin: 2%;
	display:block;
	float: left;
}
.nosotros2 img{
	width: 85%;
	margin: 10px;
	border-radius: 4px;
}
.nosotros3{
	width: 28%;
	margin: 2%;
	display:block;
	float: left;	
}
.nosotros3 img{
	width: 85%;
	margin: 10px;
	border-radius: 5px;
}
.noticias{
	width: 95%;
	display: block;
	margin: auto;
	
}
.noticias img{
	width: 50%;
	float: left;
}

