.navbar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 20px;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.navbar .nav-item .nav-link:hover {
    color: #1ebba3;
}