<div class="lista">
  <br>
  <h1>Lista Prestamos</h1>
  <form (ngSubmit)="consultarPrestamo(1)" [formGroup]="ListaPrestamos">
    <button type="submit" style="margin-left: 27%">Mostrar Prestamos</button>
    <button (click)="LimpiarLista()" style="margin-left: 30px">Limpiar</button>
    <br /><br />
    <h2>{{ TituloPrestamo }}</h2>
    <table>
      <thead>
        <th>{{ TablaPrestamos[0] }}</th>
        <th>{{ TablaPrestamos[1] }}</th>
        <th>{{ TablaPrestamos[2] }}</th>
        <th>{{ TablaPrestamos[3] }}</th>
        <th>{{ TablaPrestamos[4] }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let prestamo of Prestamos">
          <th>{{ prestamo.id_prestamo }}</th>
          <th>{{ prestamo.fecha_prestamo }}</th>
          <th>{{ prestamo.fecha_entrega }}</th>
          <th>{{ prestamo.apellido_1 }} {{ prestamo.nombre_1 }}</th>
          <th>{{ prestamo.elemento }}</th>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<!-- para mostrar el un solo Tipo de Documento -->
