<h1>
    Manejo Materias
</h1>
<br>
<div class="listaMaterias">
    <br>
    <form (ngSubmit)="consultarMateria(1)" [formGroup]="listaMaterias">
        <button type="submit" style="margin-left: 30%;">Mostrar Materias</button>
        <button (click)="limpiarLista()" style="margin-left: 30px;">Limpiar lista</button>
        <br><br>

        <h2>{{TituloMaterias}}</h2>
        <table class="table table-dark table-sm">
            <thead>

                <th>{{TablaMateria[0]}}</th>
                <th>{{TablaMateria[1]}}</th>
                <th>{{TablaMateria[2]}}</th>

            </thead>
            <tbody>
                <tr *ngFor="let materia of Materias">
                    <td> {{ materia.id_materia}} </td>
                    <td> {{ materia.nombre_materia}} </td>
                    <td> {{ materia.nombre_carrera}} </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<br><br>

<!-- Mostrar materia -->
<div class="buscarMateria">
    <br>
    <h2>Mostrar Materia: </h2>

    <form (ngSubmit)="buscarMateria()" [formGroup]="filtrarMateria" style="margin-left: 30% ;">
        Seleccione Materia a mostrar
        <select class="dropdown" formControlName="combofiltro" (click)="consultarMateria(2)">
            <option value="value1">Materia a buscar</option>
            <option *ngFor="let materia of comboListaMateria" [value]="materia.id_materia">
                {{materia.nombre_materia}}
            </option>
        </select>

        <br><br>

        <button type="submit" style="margin-right: 30px">Buscar Materia</button>
        <button (click)="limpiarLista()" style="margin-right: 30px;">Limpiar</button>
    </form>
    <br>

    <h2>{{TituloMateria}}</h2>
    <table class="table table-dark table-sm>">
        <thead class="Colb">
            <th class="b">{{TabBusMateria[0]}}</th>
            <th class="b">{{TabBusMateria[1]}}</th>
            <th class="b">{{TabBusMateria[2]}}</th>
        </thead>
        <tbody class="Filb">
            <tr class="b" *ngFor="let materia of MiMateria">
                <th> {{ materia.id_materia}} </th>
                <th> {{ materia.nombre_materia}} </th>
                <th> {{ materia.nombre_carrera}} </th>
            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="ingresarMateria">
    <br>
    <button (click)="mostrarHtml(1)" class="btn btn-dark" style="margin-left: 40%;">Ingresar Materia</button>
    <div class="container-fluid" style="margin-left: 30%">
        <br>
        <form *ngIf="mostrarCrear" [formGroup]="formularioCrear">
            <label for="">Ingrese nombre de la materia</label>
            <input type="text" formControlName="nombre_materia">
            <br><br>
            <label for="">Carrera</label>
            <select class="dropdown" formControlName="id_carrera" (click)="obtenerCarrera()">
                <option value="value1">Carrera</option>
                <option *ngFor="let carrera of listaCarreras" [value]="carrera.id_carrera"> 
                    {{carrera.nombre_carrera}}
                </option>
            </select>
            <br><br>
            <button [disabled]="formularioCrear.invalid" (click)="crearMateria()" class="btn btn-danger">Subir</button>
            <br><br>
            <button (click)="mostrarHtml(1)" class="btn btn-dark">Ocultar</button><br><br>
        </form>
    </div>
</div>

<br><br>

<div class="actualizarMateria">
    <br>
    <button (click)="mostrarHtml(2)" class="btn btn-dark" style="margin-left: 40%;">Actualizar materia</button>
    <div class="container-fluid" style="margin-left: 30%;">
        <br>
        <form *ngIf="mostrarActualizar" [formGroup]="formularioActualizar">
            Nombre de la materia a actualizar
            <select class="dropdown" formControlName="id_materia" (click)="consultarMateria(2)">
                <option value="value1">Seleccione una materia</option>
                <option *ngFor="let materia of comboListaMateria" [value]="materia.id_materia">
                    {{materia.nombre_materia}}
                </option>
            </select>
            <br><br>
            <label for="">Ingrese nombre materia</label>
            <input type="text" formControlName="nombre_materia">
            <br><br>
            <label for="">Carrera </label>
            <select class="dropdown" formControlName="id_carrera" (click)="obtenerCarrera()">
                <option value="value1">Seleccione una carrera</option>
                <option *ngFor="let carrera of listaCarreras" [value]="carrera.id_carrera">
                    {{carrera.nombre_carrera}}
                </option>
            </select>
            <br><br>
            <button [disabled]="formularioActualizar.invalid" (click)="actualizarMateria()" class="btn btn-danger">Subir</button>
            <br><br>
            <button (click)="mostrarHtml(2)" class="btn btn-dark">Ocultar</button>
            <br><br>
        </form>    
    </div>
</div>
