<body>
    <header>
        <h1>
            {{ title }}
        </h1>
        <img width="300" alt="Logo Proyecto" src="/assets/LogoBichotas.png">
    </header>
    <div>
        <nav class="menu">
            <ul>
                <li><a routerLink="/Inicio">Inicio</a></li>
                <li><a routerLink="/Carrera">Carreras</a></li>
                <li><a routerLink="/Carrera">Contacto</a></li>
                <li><a routerLink="/Asistencia">asistencia</a></li>
                <li><a routerLink="/Prestamo">prestamos</a></li>
            </ul>
        </nav>
    </div>

    <h3><a routerLink="/Inicio">Inicio</a></h3>
    <div class="lista">
        <h2>Lista Prestamos</h2>
        <form (ngSubmit)="consultarPrestamo(1)" [formGroup]="ListaPrestamos">
            <button type="submit" style="margin-right: 30px">Mostrar Prestamos</button>
            <button (click)="LimpiarLista()" style="margin-right: 30px;">Limpiar</button>

            <br><br><br><br>

            <h2>{{TituloPrestamo}}</h2>
            <table>
                <thead>
                    <th>{{ TablaPrestamos[0] }}</th>
                    <th>{{ TablaPrestamos[1] }}</th>
                    <th>{{ TablaPrestamos[2] }}</th>
                    <th>{{ TablaPrestamos[3] }}</th>
                    <th>{{ TablaPrestamos[4] }}</th>

                </thead>
                <tbody>
                    <tr *ngFor="let prestamo of Prestamos">
                        <th> {{ prestamo.id_prestamo }} </th>
                        <th> {{ prestamo.fecha_prestamo }} </th>
                        <th> {{ prestamo.fecha_entrega }} </th>
                        <th> {{ prestamo.apellido_1 }} {{prestamo.nombre_1}} </th>
                        <th> {{ prestamo.elemento }} </th>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- para mostrar el un solo Tipo de Documento -->

</body>