<h1>
    {{ title }}
</h1>

<div class="container">
    <h2>Lista Carreras</h2>

    <form (ngSubmit)="consultarCarrera(1)" [formGroup]="ListaCarreras">
        <button type="submit" style="margin-right: 30px">Mostrar carreras</button>
        <button (click)="limpiarLista()" style="scroll-margin-left: 30px">Limpiar lista</button>
        <br><br><br><br>

        <h2>{{TituloCarreras}}</h2>
        <table>
            <thead>
                <th>{{TablaCarreras[0]}}</th>
                <th>{{TablaCarreras[1]}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let carrera of Carreras">
                    <th>{{ carrera.id_carrera}}</th>
                    <th>{{ carrera.nombre_carrera}}</th>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<!-- para mostrar el un solo Tipo de Documento -->

<div class="container">
    <h2>Mostramos la carrera seleccionada: </h2>

    <form (ngSubmit)="buscarCarrera()" [formGroup]="filtrarCarrera">
        Id de la carrera a mostrar
        <select class="dropdown" formControlName="combofiltro" (click)="consultarCarrera(2)">
            <option value="value1">Carrera a buscar</option>
            <option *ngFor="let Carrera of comboListaCarrera" [value]="Carrera.id_carrera">
                {{Carrera.id_carrera}} -
                {{Carrera.nombre_carrera}}
            </option>
        </select>

        <br><br>

        <button type="submit"  style="margin-right: 30px;">Buscar Carrera</button>
        <button (click)="limpiarLista()">Limpiar</button>
    </form>

    <ul>
        <h2>{{TituloCarrera}}</h2>

        <table class="tabBuscar">
            <thead class="Colb">
                <th class="b">{{TabBusCarrera[0]}}</th>
                <th class="b">{{TabBusCarrera[1]}}</th>
            </thead>

            <tbody class="Filb">
                <tr class="b" *ngFor="let carrera of MiCarrera">
                    <th class="b">{{ carrera.id_carrera}} </th>
                    <th class="b">{{ carrera.nombre_carrera}} </th>
                </tr>
            </tbody>
        </table>
    </ul>
    <br>
</div>

<button (click)="mostrarHtml(1)" class="btn btn-dark">Ingresar Carrera</button>
<div class="container-fluid">
    <br>
    <form *ngIf="mostrarCrear" [formGroup]="formularioCarrera">
        <label for="">Ingrese nombre carrera</label>
        <input type="text" formControlName="nombre_carrera">
        <br>
        <button [disabled]="formularioCarrera.invalid" (click)="insertarCarrera()" class="btn btn-danger">Subir</button>
        <br><br>
        <button (click)="mostrarHtml(1)" class="btn btn-dark">Ocultar</button>
    </form>
    
</div>
<button (click)="mostrarHtml(2)" class="btn btn-dark">Actualizar carrera</button>
<div class="container-fluid">
    <br>
    <form *ngIf="mostrarActualizar" [formGroup]="formularioActualizar">
        Id de la carrera a actualizar
        <select class="dropdown" formControlName="id_carrera" (click)="consultarCarrera(2)">
            <option value="value1">Carrera a buscar</option>
            <option *ngFor="let Carrera of comboListaCarrera" [value]="Carrera.id_carrera">
                {{Carrera.id_carrera}} -
                {{Carrera.nombre_carrera}}
            </option>
        </select>
        <label for="">Ingrese nombre carrera</label>
        <input type="text" formControlName="nombre_carrera">
        <br>
        <button [disabled]="formularioActualizar.invalid" (click)="actualizarCarrera()" class="btn btn-danger">Subir</button>
        <br><br>
        <button (click)="mostrarHtml(2)" class="btn btn-dark">Ocultar</button>
    </form>
    
</div>