
table {
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  margin-left: 15%;
}
thead {
  background-color: #7544c3;
}
table th {
  color: rgb(255, 255, 255);
  border-color: black;
}
table tr {
  width: 50%;
}
select {
  text-transform: uppercase;
  margin-left: 5px;
  width: 280px;
  border-color: rgba(0, 20, 87);
  border-radius: 5px;
}
button {
  padding: 7px;
  background-color: #550c5b;
  color: #fff;
  border-style: none;
  border-radius: 100px;
  width: 280px;
}
button:hover {
  background-color: black;
}
input {
  text-transform: uppercase;
  margin-left: 5px;
  width: 280px;
  border-color: rgba(0, 20, 87, 0.7);
  border-radius: 5px;
}

.listaCarreras, .mostrarCarrera, .igresarCarrera,.actualizarCarrera {
  background-color: #d9b3f3;
  border-radius: 50px;
}

h1, h2{
  font-style: oblique;
  font-weight: bolder;
}
