
    <br />
<h1 style="margin-left: 40%">
  {{ title }}
</h1>
<br />
<div class="container container-fluid">
  <div class="listaCarreras">
    <br />
    <form (ngSubmit)="consultarCarrera(1)" [formGroup]="ListaCarreras">
      <button type="submit" style="margin-left: 30%">Mostrar carreras</button>
      <button (click)="limpiarLista()" style="margin-left: 10px">
        Limpiar lista
      </button>
      <br /><br />
      <table class="table table-dark table-sm">
        <thead>
          <th>{{ TablaCarreras[0] }}</th>
          <th>{{ TablaCarreras[1] }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let carrera of Carreras">
            <td>{{ carrera.id_carrera }}</td>
            <td>{{ carrera.nombre_carrera }}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<!--Mostrar carrera -->
<br /><br />
<div class="container">
  <div class="mostrarCarrera">
    <br />
    <h2 style="margin-left: 40%">Mostrar Carrera</h2>
    <form
      style="margin-left: 30%"
      (ngSubmit)="buscarCarrera()"
      [formGroup]="filtrarCarrera"
    >
      Seleccione Carrera a mostrar
      <select
        class="dropdown"
        formControlName="combofiltro"
        (click)="consultarCarrera(2)"
      >
        <option value="value1">Carrera a buscar</option>
        <option
          *ngFor="let Carrera of comboListaCarrera"
          [value]="Carrera.id_carrera"
        >
          {{ Carrera.nombre_carrera }}
        </option>
      </select>

      <br /><br />

      <button type="submit" style="margin-right: 30px">Buscar Carrera</button>
      <button (click)="limpiarLista()">Limpiar</button>
    </form>
    <br />

    <table class="table table-dark table-sm">
      <thead class="Colb">
        <th class="b">{{ TabBusCarrera[0] }}</th>
        <th class="b">{{ TabBusCarrera[1] }}</th>
      </thead>

      <tbody class="Filb">
        <tr class="b" *ngFor="let carrera of MiCarrera">
          <td class="b">{{ carrera.id_carrera }}</td>
          <td class="b">{{ carrera.nombre_carrera }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br /><br />

<div class="igresarCarrera">
  <br />
  <button (click)="mostrarHtml(1)" class="btn btn-dark" style="margin-left: 40%">
    Ingresar Carrera
  </button>
  <div class="container-fluid" style="margin-left: 30%">
    <br />
    <form *ngIf="mostrarCrear" [formGroup]="formularioCarrera">
      <label for="">Ingrese nombre carrera </label>
      <input type="text" formControlName="nombre_carrera" />
      <br /> <br>
      <button
        [disabled]="formularioCarrera.invalid"
        (click)="insertarCarrera()"
        class="btn btn-danger"
        style="margin-left: 9%"
      >
        Subir
      </button>
      <br /><br />
      <button (click)="mostrarHtml(1)" class="btn btn-dark" style="margin-left: 9%">Ocultar</button>
      <br /><br />
    </form>
  </div>
</div>

<br /><br />

<div class="actualizarCarrera">
    <br />
  <button (click)="mostrarHtml(2)" class="btn btn-dark" style="margin-left: 40%;">
    Actualizar carrera</button
  ><br />
  <br />
  <form *ngIf="mostrarActualizar" [formGroup]="formularioActualizar" style="margin-left: 30%">
    Carrera a actualizar
    <select
      class="dropdown"
      formControlName="id_carrera"
      (click)="consultarCarrera(2)"
    >
      <br />
      <option value="value1">Carrera a buscar</option>
      <br />
      <option
        *ngFor="let Carrera of comboListaCarrera"
        [value]="Carrera.id_carrera"
      >
        <br />
        {{ Carrera.nombre_carrera }}
      </option></select
    ><br /><br />
    <label type="text">Ingrese nuevo nombre de la carrera: </label>
    <input type="text" formControlName="nombre_carrera" />
    <br /><br />

    <button
      [disabled]="formularioActualizar.invalid"
      (click)="actualizarCarrera()"
      class="btn btn-danger"
      style="margin-left: 14%"
    >
      Subir
    </button>
    <br /><br />
    <button (click)="mostrarHtml(2)" class="btn btn-dark" style="margin-left: 14%">Ocultar</button>
    <br><br>
  </form>
</div>
